:root{
    --main-primary-background: #F6F6C9;
    --main-secondary-background: #BAD1C2;
    --color-primary-text: #4FA095;
    --color-secondary-text: #153462;
}


.section_acerca_de_nosotros .header_nuestra_historia img{
    
        max-height: 70vh;
        /* esta propiedad  estira la imagen y hace un pequeño zoom*/
        object-fit: cover;
    
        /* filtro para darle escala de grises a la imagen */
        filter: grayscale(70%);

}


.navbar_main img{
    width: 100px;
}

body {
    background-color: var(--main-primary-background);
}

footer img{
    height: 2rem;
}

footer a{
    text-decoration: none;
    color:var(--color-primary-text);
}

/* seccion nuestra historia */

.header_nuestra_historia{
    position: relative;
}

.header_nuestra_historia img{
    /* width: 100%; */
    object-fit: cover;
}

.header_nuestra_historia .overlay_nuestra_historia{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.3);

    color:white;
    z-index: 1;
    
    border-radius: 5%;
}

.main_nuestra_historia{
    border-radius: 0% 0% 5% 5%;
}

.img_quienes_somos{
    border-radius: 5%;
}

.img_nuestra_mision{
    border-radius: 5%;
}

.badge:hover{
    border: solid 1px black;
}

.div_audit{
    color: white;
    
}

/* ///////////////// NUESTROS SERVICIOS */

/* nuestros servicios header */
.header_servicios_img img{
    min-height: 30vh;
    /* min-width: 50vw; */
    object-fit: cover;
 
 }
 

.header_servicios{
    position:relative;
}

#servicios .overlay_servicios{
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(0, 0, 0, 0.3);

    color:white;
    z-index: 1;
}

.p_service{
    color: white;
}

.div_service .badge:hover{
    border-color:red;
}